.navbar__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0;
  width: 85%;
}
.navbar__container-logo{
  width: 120px;
  cursor: pointer;
}
