ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

ul li{
  cursor: pointer;
  color: #fff;
}

ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

ul li a::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.75s;
}

ul li a:hover::after {
  width: 100%;
}
