/*Custom  Fonts*/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/*App CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  Width: 100%;
  Height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://images.pexels.com/photos/419585/chemist-pharmacy-singer-man-419585.jpeg?cs=srgb&dl=pexels-skitterphoto-419585.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
}
/*CONTENT*/
.content{
  width: 100%;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1{
  margin: 20px 0;
  font-size: 50px;
  font-family: Centra;
  font-weight: 100;
  line-height: 20px;
}
.content p{
  margin: 20px 0;
  font-weight: 100;
  line-height: 25px;
}